.nivel1{
    background-color: rgb(255, 255, 255);
}
.nivel3{
    background-color: rgb(136, 247, 247);
}
.nivelnormal{
    background-color: rgb(30, 255, 1);
}
.nivel4{
    background-color: rgb(255, 251, 29);
}
.nivel5{
    background-color: rgb(204, 190, 1);
}
.nivel6{
    background-color: rgb(211, 102, 13);
}
.nivel7{
    background-color: rgb(255, 21, 21);
}
.reload{
    display: none;
}
.error-screen{
    background-color:rgb(255, 70, 70);
}
.orientacao, .orientacaonormal, .orientacaoexeco, .orientacaoexeco1, .orientacaoexeco2, .orientacaoexeco3{
display: none; 
}
