.nivel1{
    background-color: blueviolet;
}
.nivel3{
    background-color: aqua;
}
.nivelnormal{
    background-color: rgb(60, 167, 46);
}
.nivel4{
    background-color: rgb(255, 115, 0);
}
.nivel5{
    background-color: rgb(196, 41, 30);
}
.nivel6{
    background-color: rgb(255, 0, 0);
}
.nivel7{
    background-color: rgb(77, 54, 65);
}
.reload{
    display: none;
}